/**
 * constants
 */
/**
 * styles
 */
.ph-postqueue {
  /**
   * postqueues widget
   */
  /**
   * the post queue
   */
  /**
   * new post widget
   */ }
  .ph-postqueue *, .ph-postqueue *:before, .ph-postqueue *:after {
    -moz-box-sizing: border-box;
         box-sizing: border-box; }
  .ph-postqueue .ph-postqueues-widget {
    margin-top: 10px; }
    .ph-postqueue .ph-postqueues-widget .ph-postqueue-name {
      padding: 3px 8px;
      font-size: 1.7em;
      line-height: 100%;
      height: 1.7em;
      width: 100%;
      outline: 0;
      margin: 0; }
    .ph-postqueue .ph-postqueues-widget .ph-new-queue {
      overflow: hidden;
      height: 0px;
      background-color: #0074a2;
      -webkit-transition: all 0.3s;
              transition: all 0.3s;
      padding: 0 15px;
      color: white;
      font-size: 1.2rem; }
      .ph-postqueue .ph-postqueues-widget .ph-new-queue.ph-active {
        height: 50px; }
      .ph-postqueue .ph-postqueues-widget .ph-new-queue:not(.ph-loading):hover {
        background-color: #0086bc;
        cursor: pointer; }
      .ph-postqueue .ph-postqueues-widget .ph-new-queue.ph-loading {
        background-color: #b3b3b3; }
      .ph-postqueue .ph-postqueues-widget .ph-new-queue.ph-error {
        background-color: #dd3d36; }
    .ph-postqueue .ph-postqueues-widget .queues-list {
      margin: 0px; }
      .ph-postqueue .ph-postqueues-widget .queues-list .queue {
        padding: 15px 0; }
        .ph-postqueue .ph-postqueues-widget .queues-list .queue + .queue {
          border-top: 1px solid #b3b3b3; }
        .ph-postqueue .ph-postqueues-widget .queues-list .queue .queue-name {
          font-weight: bold;
          font-size: 1.2rem;
          margin-bottom: 4px; }
  .ph-postqueue .ph-the-queue-wrapper {
    display: none; }
  .ph-postqueue .the-queue {
    position: relative;
    list-style: none;
    padding: 0px;
    margin: 20px 0;
    counter-reset: posts;
    margin-right: 315px;
    min-height: 100px;
    /**
     * saved item
     */
    /**
     * new queue item
     */ }
    .ph-postqueue .the-queue .queue-item {
      position: relative;
      margin: 0px;
      padding: 0px;
      padding: 16px 35px 10px;
      counter-increment: posts;
      font-weight: bold;
      min-height: 50px; }
      .ph-postqueue .the-queue .queue-item:first-child:before {
        top: 50%; }
      .ph-postqueue .the-queue .queue-item:last-child:before {
        bottom: 50%; }
      .ph-postqueue .the-queue .queue-item:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 6px;
        width: 10px;
        height: 10px;
        margin-top: -6px;
        border-radius: 50px;
        background-color: #b3b3b3;
        -webkit-transition: all 0.3s;
                transition: all 0.3s;
        z-index: 2px; }
      .ph-postqueue .the-queue .queue-item + .queue-item {
        border-top: 1px solid #b3b3b3; }
      .ph-postqueue .the-queue .queue-item .add-post {
        display: none;
        position: absolute;
        color: white;
        background-color: #0074a2;
        height: 25px;
        left: 30px;
        right: 0px;
        z-index: 2;
        padding: 3px 30px;
        cursor: pointer;
        opacity: 0.7;
        -webkit-transition: all 0.3s;
                transition: all 0.3s; }
        .ph-postqueue .the-queue .queue-item .add-post:hover {
          opacity: 1; }
      .ph-postqueue .the-queue .queue-item .add-post-top {
        top: -11px; }
      .ph-postqueue .the-queue .queue-item .add-post-bottom {
        bottom: -14px; }
      .ph-postqueue .the-queue .queue-item .delete-post {
        position: absolute;
        display: none;
        right: 0px;
        top: 14px;
        bottom: 11px;
        width: 60px;
        background-color: #dd3d36;
        color: white;
        padding: 3px;
        cursor: pointer;
        opacity: 0.7;
        -webkit-transition: all 0.3s;
                transition: all 0.3s; }
        .ph-postqueue .the-queue .queue-item .delete-post:hover {
          opacity: 1; }
    .ph-postqueue .the-queue .queue-item-set {
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
      .ph-postqueue .the-queue .queue-item-set .drag-handle {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 30px;
        cursor: move;
        z-index: 2; }
      .ph-postqueue .the-queue .queue-item-set:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 10px;
        bottom: 0px;
        width: 2px;
        background-color: gray; }
      .ph-postqueue .the-queue .queue-item-set:after {
        content: counter(posts);
        position: absolute;
        top: 50%;
        left: -2px;
        margin-top: -12px;
        width: 26px;
        height: 26px;
        border: 2px solid gray;
        background-color: white;
        font-weight: bold;
        text-align: center;
        padding: 0;
        padding-top: 1px; }
      .ph-postqueue .the-queue .queue-item-set:hover:after {
        color: white;
        background: #0074a2;
        border-color: #0074a2; }
    .ph-postqueue .the-queue:not(.prevent-add-post) .queue-item-set:hover .add-post {
      display: block; }
    .ph-postqueue .the-queue:not(.prevent-add-post) .queue-item-set:hover .delete-post {
      display: block; }
    .ph-postqueue .the-queue .queue-item-new {
      padding-top: 10px; }
      .ph-postqueue .the-queue .queue-item-new:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 10px;
        bottom: 0px;
        width: 2px;
        background-color: #004f6f; }
      .ph-postqueue .the-queue .queue-item-new:after {
        background-color: #004f6f; }
  .ph-postqueue .new-post-widget {
    background: #0074a2; }
    .ph-postqueue .new-post-widget .post-suggestions {
      background-color: white; }
      .ph-postqueue .new-post-widget .post-suggestions .post-suggestion {
        padding: 15px; }
        .ph-postqueue .new-post-widget .post-suggestions .post-suggestion + .post-suggestion {
          border-top: 1px solid #b3b3b3; }

/*# sourceMappingURL=ph-postqueue-editor.css.map */